@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        GoogleReCAPTCHAv3 Example <a href="https://github.com/">
            go to project source codes
        </a>
    </p>
</div>
